
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Formulario</title>
</head>
<body>
    <div>
        <h2>Vista de formulario</h2>
        <form action="/Home/AgregarProductos" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Id:</label>
                <input name="id" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Id del producto">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Producto:</label>
                <input name="n_producto" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre del producto">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Precio:</label>
                <input name="precio" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Precio del producto">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripcion del producto</label>
                <textarea name="descripcion" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="btn btn-success">
                <input type="submit" value="GUARDAR PRODUCTO"/>
            </div>
        </form>
    </div>
</body>
</html>
